html,
body {
  height: 100%;
  margin: 0;
  color: #2d2d2d;
  font-family: 'Times New Roman', Times, serif

}

h1, h2, h3, h4, h5, h6{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
}

h2{
  color: #fff;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
  
.content {
    flex: 1;
  }

/* padding */
.p-0{
    padding: 0;
}

/* Text Align */
.text-left{
    text-align: left;
}

.text-right{
  text-align: right;
}

.text-center{
  text-align: center;
}

.title{
  color: #fff;
  font-size: 16px;
}

.title2{
  color: #2f4f6e;
  font-size: 16px;
}

.title3{
  font-size: 20px;
}

.gray-text{
  color: #6d6e71;
}

.black-text{
  color: #000;
}

/* float */
.f-left{
    float: left;
}

.f-right{
    float: right;
    margin: 0 0 0 10px;
    line-height: 30px;
}

.f-14{
    font-size: 14px;
}

.f-20{
  font-size: 20px;
}

.f-30{
  font-size: 30px;
}


/* margin */
.mtb-20{
    margin: 20px 0;
}

.mt5{
  margin-top: 5%;
}

a:link,
a:visited,
a:active {
  color: #ff3131;
  text-decoration: none;
}
a:hover {
  color: #2d2d2d;
  text-decoration: none;
}


.splash_bg{
  background: #2f4f6e;
}

.regular_bg{
  background: #f6f7f7;
}

.logo{
  width: 150px;
  height: auto;
  margin: 15% 0 0 0;
}

.logo2{
  width: 150px;
  height: auto;
  margin: 5% 0 0 0;
}

.but1, .but2{
  background: #daab6c;
  color: #2f4f6e;
  border:solid 2px #daab6c;
  font-size: 18px;
  padding: 10px 30px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 8px;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  width: 100%;
}

.but2{color: #fff !important;}

.but3, .but4{
  background: #818285;
  color: #fff;
  border:none;
  font-size: 16px;
  padding: 5px 20px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  width: 170px;
  display:inline-block;
}

.but4{
  background: #7cc242;
}

.form-cont{
  width: 100%;
  margin: 0 0 20px 0;
}

.my-label{
  width: 100%;
  margin: 0 0 10px 0;
  color: #26292c;
  font-size: 18px;
  font-weight: bold;
}

.my-input{
  border-radius: 4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  background: #fff;
  border: solid 1px #ddd;
  padding: 10px 20px;
  color: #26292c;
  font-size: 18px;
  width: 100%;
}

.my-input:focus{
  outline: none;
  border: solid 1px #daab6c;
}

.dash_icons{
  width: 50%;
  height: auto;
}

.applicant{
  margin: 0 0 0 -30px;
}

.applicant li{
  list-style: none;
  color: #26292c;
  display: flex;
  flex-wrap: wrap;
  background: #dfebf5;
  padding: 10px 30px 4px 30px;
  border-radius: 12px 0 0 12px;
  -moz-border-radius:12px 0 0 12px;
  -webkit-border-radius:12px 0 0 12px;
  text-align: right;
  border-right: solid 6px #316ab3;
  margin: 0 0 15px 0;
}

.applicant li h2{color: #26292c;}

.appli_num{
  font-size: 30px;
  color: #fff;
  width: 50px;
  height: 50px;
  background: #316ab3;
  border-radius: 50px;
  -moz-border-radius:50px;
  -webkit-border-radius:50px;
  text-align: center;
  font-weight: bold;
  margin: 10px 20px 0 0;
}

.search_icon{
  width:auto;
  height: 50px;
  border-radius: 4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
}

/* clear */
.clear{clear: both;}
.clear5x{clear: both; height: 5px;}
.clear10x{clear: both; height: 10px;}
.clear15x{clear: both; height: 15px;}
.clear20x{clear: both; height: 20px;}
.clear25x{clear: both; height: 25px;}
.clear30x{clear: both; height: 30px;}
  
footer{margin: 50px 0 50px 0;}

.data{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.data_title, .data_title2{
  color: #2f4f6e;
  font-size: 20px;
  padding: 5px 0px;
}

.data_title2{
  color: #231f20;
  font-weight: bold;
}

.data2{
  color: #231f20;
  font-size: 20px;
  font-weight: bold;
  background: #fff;
  border: solid 1px #dadada;
  padding: 5px 20px;
  width: 50%;
}

.cal_ico{
  width: 20px;
  height: auto;
}

.paging{
  display: flex;
  justify-content: space-around;

}

.paging li{
  list-style: none;
  background: #edefee;
  padding: 5px 15px;
  margin: 0 2px;
  border-radius: 4px;
  -moz-border-radius:4px;;
  -webkit-border-radius:4px;
  color: #26292c;
}

.paging li a:link,  .paging li a:visited,  .paging li a:active {
  color: #231f20;
  text-decoration: none;
  font-weight: bold;
}

.paging li:hover, .paging li a:hover{
  background: #2d2d2d;
  color: #fff;
}

/*iPod, Tablet Devices*/
@media all and (max-width: 1200px) and (min-width: 480px) {

}

/*Mobile Devices.*/
@media all and (max-width: 480px) and (min-width: 320px) {

.dash_icons{
    width: 100%;
    height: auto;
  }

}