html,
body {
  height: 100%;
  margin: 0;
  color: #2d2d2d;
  font-family: 'Times New Roman', Times, serif

}

h1, h2, h3, h4, h5, h6{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
}

h2{
  color: #fff;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
  
.content {
    flex: 1;
  }

/* padding */
.p-0{
    padding: 0;
}

/* Text Align */
.text-left{
    text-align: left;
}

.text-right{
  text-align: right;
}

.text-center{
  text-align: center;
}

.title{
  color: #fff;
  font-size: 16px;
}

.title2{
  color: #2f4f6e;
  font-size: 16px;
}

.title3{
  font-size: 20px;
}

.gray-text{
  color: #6d6e71;
}

.black-text{
  color: #000;
}

/* float */
.f-left{
    float: left;
}

.f-right{
    float: right;
    margin: 0 0 0 10px;
    line-height: 30px;
}

.f-14{
    font-size: 14px;
}

.f-20{
  font-size: 20px;
}

.f-30{
  font-size: 30px;
}


/* margin */
.mtb-20{
    margin: 20px 0;
}

.mt5{
  margin-top: 5%;
}

.mt-50{
  margin-top: 50px;
}

.mr-25{
  margin-right: 25px;
}

a:link,
a:visited,
a:active {
  color: #ff3131;
  text-decoration: none;
}
a:hover {
  color: #2d2d2d;
  text-decoration: none;
}


.splash_bg{
  background: #2f4f6e;
}

.regular_bg{
  background: #f6f7f7;
}

.logo{
  width: 150px;
  height: auto;
  margin: 15% 0 0 0;
}

.logo2{
  width: 150px;
  height: auto;
  margin: 5% 0 0 0;
}

.but1, .but2, .but5{
  background: #daab6c;
  color: #2f4f6e;
  border:solid 2px #daab6c;
  font-size: 18px;
  padding: 10px 30px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 8px;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  width: 100%;
}

.but5{
  background: #39b54a;
  color: #fff;
  border:solid 2px #39b54a;
}

.but2{color: #fff !important;}

.but3, .but4{
  background: #818285;
  color: #fff;
  border:none;
  font-size: 16px;
  padding: 5px 20px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  width: 170px;
  display:inline-block;
}

.but4{
  background: #7cc242;
}

.form-cont{
  width: 100%;
  margin: 0 0 20px 0;
}

.my-label{
  width: 100%;
  margin: 0 0 10px 0;
  color: #26292c;
  font-size: 18px;
  font-weight: bold;
}

.my-label2{
  line-height: 40px;
}

.my-input, .my-input2{
  border-radius: 4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  background: #fff;
  border: solid 1px #ddd;
  padding: 10px 20px;
  color: #26292c;
  font-size: 18px;
  width: 100%;
}

.my-input:focus, .my-input2:focus{
  outline: none;
  border: solid 1px #daab6c;
}

.my-input2{
  width: 60%;
}

.dash_icons, .dash_icons2{
  width: 50%;
  height: auto;
}

.dash_icons2{
  border-radius: 8px;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
}

.applicant{
  margin: 0 0 0 -30px;
}

.applicant li{
  list-style: none;
  color: #26292c;
  display: flex;
  flex-wrap: wrap;
  background: #dfebf5;
  padding: 10px 30px 4px 30px;
  border-radius: 12px 0 0 12px;
  -moz-border-radius:12px 0 0 12px;
  -webkit-border-radius:12px 0 0 12px;
  text-align: right;
  border-right: solid 6px #316ab3;
  margin: 0 0 15px 0;
}

.applicant li:hover{background: #fcb040;}

.applicant li h2{color: #26292c;}

.appli_num, .appli_num2{
  font-size: 30px;
  color: #fff;
  width: 50px;
  height: 50px;
  background: #316ab3;
  border-radius: 50px;
  -moz-border-radius:50px;
  -webkit-border-radius:50px;
  text-align: center;
  font-weight: bold;
  margin: 10px 20px 0 0;
}

.appli_num2{
  background: #6b65ad;
}

.search_icon{
  width:auto;
  height: 50px;
  border-radius: 4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
}

/* clear */
.clear{clear: both;}
.clear5x{clear: both; height: 5px;}
.clear10x{clear: both; height: 10px;}
.clear15x{clear: both; height: 15px;}
.clear20x{clear: both; height: 20px;}
.clear25x{clear: both; height: 25px;}
.clear30x{clear: both; height: 30px;}
  
footer{margin: 50px 0 50px 0;}

.data{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.data_title, .data_title2{
  color: #2f4f6e;
  font-size: 20px;
  padding: 5px 0px;
}

.data_title2{
  color: #231f20;
  font-weight: bold;
}

.data2{
  color: #231f20;
  font-size: 20px;
  font-weight: bold;
  background: #fff;
  border: solid 1px #dadada;
  padding: 5px 20px;
  width: 50%;
}

.cal_ico, .cal2_ico{
  width: 20px;
  height: auto;
}

.cal2_ico{
  width: auto;
  height: 20px !important;
  margin: 0 10px 0 0;
}

.paging{
  display: flex;
  justify-content: space-around;

}

.paging li{
  list-style: none;
  background: #edefee;
  padding: 5px 15px;
  margin: 0 2px;
  border-radius: 4px;
  -moz-border-radius:4px;;
  -webkit-border-radius:4px;
  color: #26292c;
}

.paging li a:link,  .paging li a:visited,  .paging li a:active {
  color: #231f20;
  text-decoration: none;
  font-weight: bold;
}

.paging li:hover, .paging li a:hover{
  background: #2d2d2d;
  color: #fff;
}

.comment{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.comment img{
  width: auto;
  height: 30px;
  margin: 0 10px 0 0;
}

.comment_count, .comment_count:link, .comment_count:visited, .comment_count:active, .comment_count:hover{
  background: #dfebf5;
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #000;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  border-radius: 20px;
}

/* calender CSS */
.container_calender {
  display: inline-block;
  background-color:#fff;
  border-radius: 35px;
  padding: 0 1em;
}

header {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.header-display {
  display: flex;
  align-items: center;
}

.header-display p {
  color:#daab6c;
  margin: 5px;
  font-size: 1.2rem;
  word-spacing: 0.5rem;
}

pre {
  padding: 10px;
  margin: 0;
  cursor: pointer;
  font-size: 1.2rem;
  color:#daab6c;
}

.days,
.week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: auto;
  padding: 0 20px;
  justify-content: space-between;
}
.week div,
.days div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3em;
  border-radius: 100%;
}
.days div:hover {
  background:#daab6c;
  color: rgb(25, 25, 201);
  cursor: pointer;
}
.week div {
  opacity: 0.5;
}
.current-date {
  background-color:#daab6c;
  color:#fff;
}
.display-selected {
  margin-bottom: 10px;
  padding: 20px 20px;
  text-align: center;
}

.primary{
  margin: 0 0 0 -30px;
}

.primary li{
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 5px;
  border: solid 1px #dedfe0;
  color: #6d6e71;
  font-size: 18px;
  font-weight: bold;
  line-height: 35px;
  margin: 3px 0;
}

.primary li img{
  width: auto;
  height: 40px;
}

.primary_bt{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.bt_ico{
  width: auto;
  height: 80px;
}

.my_flex{
  display: flex;
}

.top_list{
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.top_list li{
 margin: 35px 5px 0 5px;
}

.top_list li img{
  width: 40px;
  height: auto;
 }

 .add_title{
  background:#eddec9;
  padding: 10px 20px;
  margin: 30px 0 0 40px;
 }

 .cont_bg{
  background: #edefee;
  padding: 20px;
  color: #2f4f6e;
  font-weight: 600;
 }

 .title_ico{
  width: 45px;
  height: auto;
  margin:0 10px 0 0;
 }

 .add_button{
  background: #fff;
  color: #2f4f6e;
  font-weight: 600;
  border-radius: 4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border:solid 1px #c3c6c5;
  margin: 0 5px;
  padding: 0 10px;
 }

 .add_button img{
  width: 25px;
  height: auto;
 }

 .form_flex{
  display: flex;
  justify-content: space-between;
 }

 

/*iPod, Tablet Devices*/
@media all and (max-width: 1200px) and (min-width: 480px) {

}

/*Mobile Devices.*/
@media all and (max-width: 480px) and (min-width: 320px) {

.dash_icons{
    width: 100%;
    height: auto;
  }

}